footer.container(id="global-footer")
  .row
    .col-md-12
      p(style="text-align: center") All content &copy; SITE NAME

block scripts
  //- Angular Core
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js")
  //- jQuery
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  //- Local Vendor scripts
  
  //- Angular app
  script(src="/scripts/app.js")
  //- Angular components