footer.container-fluid(id="global-footer")
  p(style="text-align: center") All content &copy; Sabrina Sew &amp; Sew

block scripts
  //- jQuery
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  
  //- Local Vendor scripts
  script(src="/scripts/vendor/parallax.min.js")
  script(src="/scripts/vendor/instafeed.min.js")
  script(src="/scripts/vendor/transition.js")  

  //- App
  script(src="/scripts/app.js")