head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="language" content="en")
  block title 
    title Sabrina Sew &amp; Sew
  meta(name='description' content='I love clothes and the potential they have when it comes to accessorizing or altering.')
  link(rel='stylesheet' href="/styles.min.css" media="screen, projection")
  
  link(rel="icon" href="/content/favicon.ico")
  link(rel="shortcut icon" href="/content/favicon.ico")
  link(rel="apple-touch-icon" href="/content/apple-touch-icon.png")
  
  // Meta tags
  meta(name="robots" content="index,follow")
  link(rel="index" href="http://sabrinasewandsew.com/" title="Sabrina Sew & Sew")
  link(rel="canonical" href="http://sabrinasewandsew.com/")
  meta(name="revised" content="Thursday, April 21th, 2016, 2:34 pm")
  meta(name="author" content="Sabrina Loyless, sabrinasewandsew@gmail.com")
  meta(name="url" content="http://sabrinasewandsew.com/")
  meta(name="identifier-URL" content="http://sabrinasewandsew.com/")
  meta(name="rating" content="General")
  meta(name="revisit-after" content="7 days")

  // Location tagging (Lat/Long)
  meta(name="ICBM" content="30.185744,-97.762242")
  meta(name="geo.position" content="30.185744,-97.762242")
  meta(name="geo.placename" content="Austin, TX, United States")
  meta(name="geo.region" content="us-tx")

  // Facebook Opengraph
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Sabrina Sew & Sew")
  meta(property="og:description" content="I love clothes and the potential they have when it comes to accessorizing or altering.")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content="http://sabrinasewandsew.com/content/images/styles-image.jpg")

  // Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@SabrinaSewSew")
  meta(name="twitter:creator" content="@SabrinaSewSew")
  meta(name="twitter:title" content="Sabrina Sew & Sew")
  meta(name="twitter:description" content="I love clothes and the potential they have when it comes to accessorizing or altering.")
  meta(name="twitter:image" content="http://sabrinasewandsew.com/content/images/styles-image.jpg")
  
  // Google+
  meta(itemprop="description" content="I love clothes and the potential they have when it comes to accessorizing or altering.")
  
  // iOS
  meta(name="apple-mobile-web-app-title" content="Sabrina Sew & Sew")

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1028046-19', 'auto');
    ga('send', 'pageview');
