header(id="global-header").container-fluid
  .row
    .col-xs-12
      div.logo
        a(href="/")
          img.img-responsive.center-block(src="/content/images/logo.png" alt="Sabrina Sew & Sew")
      nav(role="navigation")
        ul.nav.nav-pills.text-center(role="tablist")#mainNav
          li.col-md-3.hidden-xs.hidden-sm(role="presentation")
            a(href="#styles") Styles &amp; Designs
          li.col-xs-4.col-md-2(role="presentation")
            a(href="#aboutMe") About Me
          li.col-xs-4.col-md-2.logo-small(role="presentation")
            img.img-responsive.center-block(src="/content/images/logo-small.png" alt="Sabrina Sew & Sew")
          li.col-md-3.hidden-xs.hidden-sm(role="presentation") 
            a(href="#bts") Behind the Scenes
          li.col-xs-4.col-md-2(role="presentation") 
            a(href="#contact") Contact
