head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block title 
    title SITE TITLE
  link(rel='stylesheet' href="/styles.min.css" media="screen, projection")
  
  link(rel="icon" href="/content/favicon.ico")
  link(rel="shortcut icon" href="/content/favicon.ico")
  link(rel="apple-touch-icon" href="/content/apple-touch-icon.png")
  
  // Meta tags
  link(rel="canonical" href="http://SITEURL.com/")

  // Location tagging (Lat/Long)
  meta(name="ICBM" content="30.185744,-97.762242")
  meta(name="geo.position" content="30.185744,-97.762242")
  meta(name="geo.placename" content="Austin, TX, United States")
  meta(name="geo.region" content="us-tx")

  // Facebook Opengraph
  meta(property="fb:app_id" content="")
  meta(property="fb:admins" content="")
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="")
  meta(property="og:description" content="")
  meta(property="og:locale" content="en_US")