doctype html
html(lang="en" dir="ltr" ng-app="portfolio" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml")
  include _head
  body#top
    include _header
    
    block content
      
    include _footer