extends ./templates/includes/_layout

block content
  .container-fluid
    .row
      .parallax-window#styles.hidden-xs.hidden-sm(data-parallax="scroll" data-image-src="/content/images/styles-image.jpg" data-positionY="500" naturalWidth="1100" naturalHeight="957")
      
      include ./templates/_about

      div.divider.col-xs-12

      include ./templates/_feed

      div.divider.col-xs-12

      include ./templates/_contact
