# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.tmp

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules

# --------------------
# Server Files
# --------------------
build
bower_components