section#bts
  margin-bottom: 25px
  > a
    padding-left: 15px
    font-family: $headings-font-family
    font-size: 13px

    @media (min-width: $screen-md)
      font-size: 16px

    i
      margin-right: 5px

  #instafeed
    a
      padding-left: 15px
      padding-right: 15px
      margin-bottom: 30px
      display: block
      @media (min-width: $screen-md)
        width: 25%
        float: left

      img
        @extend .img-responsive
        border: 1px solid silver
        box-shadow: 0 0 10px silver
        padding: 5px
        transition: all 0.2s ease-in-out

      &:first-of-type
        @media (min-width: $screen-md)
          width: 50%

      &:hover, &:focus
        img
          box-shadow: none
          border: 1px solid $brand-purple
  
  iframe
    margin-top: 25px
    margin-bottom: 25px
    width: 300px
    height: 169px
    
    @media (min-width: $screen-sm)
      width: 410px
      height: 231px    

    @media (min-width: $screen-md)
      width: 640px
      height: 360px
    
    @media (min-width: $screen-lg)
      width: 853px
      height: 480px