section#contact.col-xs-12
  h1 Contact Sabrina Sew & Sew
  .row
    .col-md-3.col-xs-6.text-center
      a(href="mailto:sabrinasewandsew@gmail.com" target="_blank")
        i.fa.fa-fw.fa-envelope-o.center-block
        | Send a Message
    .col-md-3.col-xs-6.text-center
      a(href="//facebook.com/sabrinasewandsew" target="_blank")
        i.fa.fa-fw.fa-facebook.center-block
        | Follow me on Facebook
    .col-md-3.col-xs-6.text-center
      a(href="//twitter.com/sabrinasewandsew" target="_blank")
        i.fa.fa-fw.fa-twitter.center-block
        | Follow me on Twitter
    .col-md-3.col-xs-6.text-center
      a(href="//instagram.com/sabrinasewsew")
        i.fa.fa-fw.fa-instagram.center-block
        | Follow me on Instagram