section#bts.col-xs-12
  h1 Behind the Scenes
  div#instafeed
  a(href="//www.instagram.com/sabrinasewsew/" title="Follow Sabrina Sew & Sew on Instagram for more behind the scenes photos of fashion design and seamstress work in Austin, Texas" target="_blank") 
    i.fa.fa-instagram.fa-fw
    | Follow me on Instagram for more