section#aboutMe
  .col-xs-12
    img.img-responsive.pull-right.about-pic(src="/content/images/sketch01@2x.png" alt='Design by Sabrina Sew & Sew')
    h1 About Sabrina Sew &amp; Sew
    p Hello! Welcome to my pretty little page and thanks for checking me out! You're here for a reason so without further ado, here are few things about yours truly:

    p I am self-taught through research, trial, and error. I interned with 
      a(href="http://www.jinxedaposed.com/" target="_blank") Jinxedaposed Clothing
      |  for a year sewing and assisting for photoshoots, runways, and stage performances. My skills include sewing, crafting, prop making, wardrobe, styling, altering, costumes, and project cheerleader. (Not in a particular order.)
    
    p I am a lover of all things shiny, especially fabrics. I see the beauty in everything and love to embellish it. Repurposeing and altering clothes give me joy.

    p I am passionate about clothing, because to me it is a costume of expression. Clothes make a first impression before you can open your mouth to speak. Your style is who you are that day; the world is your stage.  Accessories can make or break it. Artfully and carefully put together, clothes will tell a story.

    p My clients would say that I am meticulous and very detail oriented. I take my time and create solid work. I have repeat clients and the promise of new clients returning for more. 

    p I love when clients come to me with a budget and an idea. A curiosity to try new things or an adventurous spirit in location to bring their visions to life. I am inspired by others passion for projects. I love anything theatrical, dreamlike, or ethereal.

    h2 Recent Updates
    ul
      li Hired on at the pristigeous 
        a(href="http://www.zachtheatre.org/" target="_blank") ZACH Theatre 
        | in Austin, Texas for 
        em Priscilla, Queen of the Desert 
        | (Costume Designer Assistant, Wardrobe Assistant)
      li Wardrobe for a feature film from 
        a(href="http://www.galtproductions.com/" target="_blank") Galt Productions
      li Over the course of a year I assisted the fashionable stylist 
        a(href="https://www.facebook.com/DanniOrdonezStyling" target="_blank") Danni Ordonez
        |  on a seven set photoshoot that was built and shot with the upmost care and attention to detail. 
        em Photography coming soon
      li I am now a stylist for the local production company 
        a(href="http://www.galtproductions.com/" target="_blank") Galt Productions. 
        | I have worked on a short 60-second film  
        a(href="//www.imdb.com/title/tt4942694/" target="_blank") 60 Seconds to Die
        |  for a local film festival, as well as the lead stylist/wardrobe for a feature film in the works.
      li I've completed two custom wedding dresses for a ceremony that was held in March 2016.
      li Near future plans for me include fantastic photoshoots, and amazing films. A few print publications a year and a fashion show or two are also in the works.

    h2 Testimonails From Happy Clients
  .col-md-6
    blockquote
      p 
        em When my wife Amy and I decided to get married, we automatically thought of asking Sabrina to make our dresses. Not just because she is our friend, but because of her extraordinary talent. Though the task of creating two custom wedding dresses was quite large, our confidence in her never wavered. She's a total pro. We couldn't be more pleased. Thank you so much, Sabrina!
      footer Becca and Amy Brennan-Luna, March 2016
  .col-md-6
    blockquote
      p
        em Recently my best friend got married and asked me to be her matron of honor. She requested that I pick from a selection of dresses from a website that had very lovely options at an affordable price.
      p  
        em Each order from that site is custom-made for size and with that, not returnable. When I received the dress it was ill-fitting, with bust of the garment sitting in the wrong place. I knew I needed an alteration and more than the typical hem or “take-in a size”. I asked Sabrina to help me with this dilemma and she agreed to work her seamstress magic on this dress. We brainstormed through a couple of  fittings the changes I would like to be made and came up with some new ideas to fix the bust.
      p
        em She worked wonderful seamstress magic and I ended up with a finished garment that looked like a whole new dress. It fit to perfection. She upped the lovely level to gorgeous. My bestie bride was very happy with the results. I could not have asked for a better experience.
      p
        em Thank you, Sabrina!!
      footer Candace Guadarrama, March 2016
