section#bts
  .col-xs-12
    h1 Portfolio
    a.instagram-link(href="//www.instagram.com/sabrinasewsew/" title="Follow Sabrina Sew & Sew on Instagram for more behind the scenes photos of fashion design and seamstress work in Austin, Texas" target="_blank") 
      i.fa.fa-instagram.fa-fw
      | Follow me on Instagram for more  
  .col-xs-12
    h2 
      em The Dark Decent
      br
      small by Danni Ordonez, Nico Nico Nordström, Michi Lafary
  #gallery.col-xs-12
    .row
      .gallery-image.col-xs-12.col-md-4
        a(href="http://www.theroyaldescent.com/" target="_blank")
          img.img-responsive(src="/content/gallery/marie02.jpg" alt="")
      .gallery-image.col-xs-12.col-md-4
        a(href="http://www.theroyaldescent.com/" target="_blank")
          img.img-responsive.featured(src="/content/gallery/mariecover.jpg" alt="")      
      .gallery-image.col-xs-12.col-md-4
        a(href="http://www.theroyaldescent.com/" target="_blank")
          img.img-responsive.landscape(src="/content/gallery/marie07.jpg" alt="")
        a(href="http://www.theroyaldescent.com/" target="_blank")
          img.img-responsive.landscape(src="/content/gallery/marie06.jpg" alt="")
  .col-xs-12.col-md-6
    h3 About
    p This editorial was a labor of love by 3 creatives driven by fashion and art . This project took about 2 years of blood, sweat, and tears - proving to ourselves that we could produce the art that our hearts longed to make and could only dream of. This was the first of many projects together learning and growing along the way. We were inspired by the life and legacy of Marie Antoinette, but rather than shooting just a timepiece we decided to add modern and whimsical elements. We built props, costumes, and sets by hand on a shoe string budget - Often begging and borrowing resources from friends, strangers, and boutiques. We all worked together as a team to collaborate on everything from the most major of scenes to the most minute of details. Because of this project we dyed a horse pink (safely of course), shot in mansions, made a ridiculous amount of cakes, and formed lifelong friendships.
    p More at:
    ul
      li
        a(href="http://www.theroyaldescent.com/" target="_blank") The Royal Decent 
        | (official site)
      li
        a(href="http://niconordstrom.tumblr.com/post/152317029559/the-queens-chambers-behind-the-scenes") Nico Nordström Photography

  .col-xs-12.col-md-6
    h3 Credits
    ul
      li 
        strong Creative Director: 
        | Danni Ordonez, Nico Nico Nordström, Michi Lafary
      li  
        strong Concept: 
        | Danni Ordonez, Michi Lafary
      li  
        strong Photographer: 
        | Nico Nordstrom
      li  
        strong Fashion Stylist: 
        | Danni Ordóñez Styling
      li  
        strong Wig Maker &amp; Hair Stylist: 
        | Michi Lafary
      li  
        strong Mua / Wig &amp; Hair Assistance: 
        | Sarah Contey
      li  
        strong Models: 
        | Samantha Gloor, Santiago Anaya Model Page, Austin Warner, Tiffany Desirai , Adam Carmichael , Christine Breanne Tadlock, Tony Redmer, Brittney Denson, Mackenzie Block, Lora Overton
      li  
        strong Set: 
        | Nico Nordstrom, Danni Ordonez, Ryan Blair
      li  
        strong Wardrobe Assistance: 
        | Sabrina Loyless
      li  
        strong Textile construction: 
        | Sabrina Loyless
      li  
        strong Home Design: 
        | Benny Daneshjou 
      li  
        strong Wig &amp; Hair Assistance Assistance: 
        | Emilie Litzell Hair Stylist, Shreeda J. Shreeda J Tailor
      li  
        strong BTS Videographer: 
        | Clinton Sterling Mynier
      li  
        strong Women’s Wear Designers: 
        | Sally Daneshjou Collection, Chasity Sereal
      li  
        strong Menswear Designer / Men's Styling Assistance: 
        | Ross Bennett
  .col-xs-12.col-md-6
    iframe.center-block(src="//www.youtube.com/embed/y3YGigDuRv8?rel=0" frameborder="0" allowfullscreen)
  .col-xs-12.col-md-6
    iframe.center-block(src="//www.youtube.com/embed/TC9YF9Wlue8?rel=0" frameborder="0" allowfullscreen)