extends ./templates/includes/_layout.jade

block content
  .container-fluid
    .row
      .parallax-window#styles(data-parallax="scroll" data-image-src="/content/images/styles-image.jpg" data-positionY="500" naturalWidth="1100" naturalHeight="957")
      
      include ./templates/_about.jade

      div.divider.col-xs-12

      include ./templates/_feed.jade

      div.divider.col-xs-12

      include ./templates/_contact.jade
